/*

.darkbody {
    background: linear-gradient(141deg , rgb(28, 0, 73) 0% , $dark--purple--backgrnd--clr 51% , rgb(28, 0, 73) 75%);
}
.lightbody {
    background: linear-gradient(141deg , #fff 0% , #eaeaea 51% , #fff 75%);
}


.btn{
    color: white !important; 
    background-color: blueviolet;
    padding: .7em 1.5em;
    border-radius: 1rem ;
    font-size: 1.6rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border: .2em solid white;
    &:hover {
        border: .2em solid blueviolet;
        box-shadow: 0.1rem 1.1rem 1.1rem 0.1rem #00000082;
        background-color: white;
        color: black !important;
    }
}

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

button, input {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto' , sans-serif;
}

p,
span,
ul,
li,
label,
input,
a {
  font-family: 'Roboto' , sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

div, section {
  cursor: pointer;
}

body {
  background: linear-gradient(135deg, #00f3ff 0%, #54aaff 81%);
  height: 100vh;
  overflow: hidden;
}

body .eror {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  font-size: 2.5rem;
  margin-top: 3rem;
}

body .overlay {
  width: 100%;
  height: 30rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

body .overlay div {
  width: 8rem;
  height: 8rem;
  border: 0.4rem solid #f3f3f3;
  border-bottom: .4rem solid #0072fe;
  border-radius: 50%;
  -webkit-animation: rot 1s linear infinite;
          animation: rot 1s linear infinite;
}

body .githubinput__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem auto;
  padding: 2rem 6rem;
  background-color: #00abff;
  border: .1rem solid #1baedb;
  border-radius: 2rem;
  -webkit-box-shadow: 0rem 0rem 4rem 3rem #7ce7ff;
          box-shadow: 0rem 0rem 4rem 3rem #7ce7ff;
  font-size: 1.3rem;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  -webkit-animation: apear .5s linear forwards;
          animation: apear .5s linear forwards;
}

body .githubinput__Catcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 2rem 5rem;
  background-color: #00abff;
  border: .1rem solid #1baedb;
  border-radius: 2rem;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  -webkit-animation: apear .5s .8s linear forwards;
          animation: apear .5s .8s linear forwards;
}

body .githubinput__Catcher form {
  width: 100%;
}

body .githubinput__Catcher form fieldset label {
  font-size: 3rem;
  margin-right: 2rem;
}

body .githubinput__Catcher form fieldset input {
  width: 20rem;
  padding: .5rem;
  padding-left: .7rem;
  border: .2rem solid white;
  font-size: 2rem;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-radius: 1rem;
}

body .githubinput__Catcher form fieldset input ::-webkit-input-placeholder {
  color: white;
}

body .githubinput__Catcher form fieldset input :-moz-placeholder {
  color: white;
  opacity: 1;
}

body .githubinput__Catcher form fieldset input ::-moz-placeholder {
  color: white;
  opacity: 1;
}

body .githubinput__Catcher form fieldset input :-ms-input-placeholder {
  color: white;
}

body .githubinput__Catcher form fieldset input:focus {
  padding-left: 1.5rem;
}

body .githubinput__Catcher form fieldset button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .5rem 2rem;
  color: white;
  font-size: 2rem;
  border: .2rem solid white;
  margin-left: 2rem;
  border-radius: 1rem;
}

body .user__card {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2.5rem 5rem;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 3rem;
}

body .user__card .user__card--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .user__card .user__card--container .user__image {
  width: 17rem;
  border-radius: 50%;
}

body .user__card .user__card--container .user__image img {
  border-radius: 50%;
  padding: .5rem;
  border: .3rem solid #00f3ff;
  width: 17rem;
  height: 17rem;
}

body .user__card .user__card--container .user__image .hireable {
  position: absolute;
  bottom: -21rem;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem .5rem .5rem .5rem;
  border-radius: 2rem;
}

body .user__card .user__card--container .user__image .hireable::before {
  position: absolute;
  content: "";
  display: block;
  border: 2rem solid #7ce7ff;
  border-left: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -1rem;
  left: 6rem;
}

body .user__card .user__card--container .user__image .hireable .hireable__title {
  font-size: 1.8rem;
  z-index: +100;
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
  padding: .5rem 0 0 0;
  border-radius: 2rem;
}

body .user__card .user__card--container .user__image .hireable .hireable__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

body .user__card .user__card--container .user__image .hireable .hireable__content img {
  width: 15rem;
  height: 15rem;
  border: none;
  border-radius: 3rem;
}

body .user__card .user__card--container .user__image .hireable .hireable__content p {
  font-size: 1.8rem;
  width: 15rem;
  margin-left: 2rem;
}

body .user__card .user__card--container .user__image .hireable .hireable__content .hireable__github__link {
  color: #0072fe;
  font-size: 2rem;
  text-decoration: underline;
}

body .user__card .user__card--container .varifyimage::after {
  position: absolute;
  width: 4rem;
  height: 4rem;
  padding: 2rem;
  background-color: #00abff;
  color: white;
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  right: 1rem;
  bottom: 0;
  border-radius: 50%;
  z-index: +100;
  border: .5rem solid white;
}

body .user__card .user__card--container .user__info--container {
  margin-right: 10rem;
  margin-left: 4rem;
}

body .user__card .user__card--container .user__info--container .user--name {
  font-size: 2.25rem;
}

body .user__card .user__card--container .user__info--container .user--id {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-left: .2rem;
  color: black;
}

body .user__card .user__card--container .user__info--container .user--id a {
  color: #4d4d64;
}

body .user__card .user__card--container .user__info--container .user__bio {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: .5rem;
  width: 65rem;
}

body .user__card .user__card--container .user__info--container .user__work--station {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

body .user__card .user__card--container .user__info--container .user__work--station .work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5rem;
}

body .user__card .user__card--container .user__info--container .user__work--station .work__container .workcount--count {
  font-size: 2rem;
  margin-right: 1rem;
}

body .user__card .user__card--container .user__info--container .user__work--station .work__container .workcount--title {
  font-size: 2.25rem;
}

body .user__card .user__card--container .user__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .user__card .user__card--container .user__tools div {
  padding: 1rem 2rem;
  background-color: royalblue;
  font-size: 1.8rem;
  border-radius: 1rem;
}

body .user__card .user__card--container .user__tools .user__contact {
  margin-right: 2rem;
  background-color: #ebecf0;
}

body .user__card .user__card--container .user__tools .user__contact a {
  color: black;
}

body .user__card .user__card--container .user__tools .user__follow {
  background-color: #0072fe;
}

body .user__card .user__card--container .user__tools .user__follow a {
  color: white;
}

@-webkit-keyframes apear {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes apear {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */